h1 {
	font-family: "Ariel", Helvetica, sans-serif;
	/*text-color: center;*/	
	color: white;
}

body { 
	background-image: url("water_dragon.jpg");
	-webkit-background-size: cover;
   	-moz-background-size: cover;
    	-o-background-size: cover;
    	background-size: cover;
	font-family: "Courier New", Courier, monospace;
	color: white;
	/*max-width: 600px;*/
	text-align: center;
}
h2 {
	text-align: center;
}
h3 {
	text-align: left;
}
p {
	margin-right: auto;
	margin-left: auto;
	width: 21em;
	color: white;
	font-family: Helvetica;
	font-size: 24px;
	
}
ul {
	text-align: left;
}
a:link {
	font-family: Helvetica;
	font-size: 50px;
}
a:visited {
	color: #FF00FF;
}
a:hover {
	color: #00FF00;
}

