h1 {
	font-family: "Ariel", Helvetica, sans-serif;
	text-align: center;
	color: white;
}

body { 
	background-image: url("water_dragon_desktop_androidjones1.jpeg");
	-webkit-background-size: cover;
   	-moz-background-size: cover;
    	-o-background-size: cover;
    	background-size: cover;
	font-family: "Courier New", Courier, monospace;
	color: white;
}
p {
	
	text-align: center;
}
h2 {
	text-align: center;
}
a:visited {
	color: #00FF00;
}

a:hover {
	color: #FF00FF;
}

